$button-color: #e1e9e7;

.bttn-material-flat.bttn-default {
    background-color: $button-color;
    color: inherit;
    border-radius: 8px;
}

// Remove gaps around the page body card
.bslib-page-fill {
    padding: 0;
    gap: 0;
}


body>div.card>div.card-body.bslib-gap-spacing.html-fill-item.html-fill-container {
    max-height: fit-content;
}

// html {
//     &[data-bs-theme="dark"] {
//         & footer {
//             background-color: #000;
//             color: white;
//         }

//         & body {
//             background-color: #20252d;
//             color: white;
//         }
//     }

//     &[data-bs-theme="light"] {
//         & body {
//             background-color: #c9c9c9;
//         }

//         & footer {
//             background-color: $button-color;
//         }
//     }
// }




/* Apply placeholder color across various browsers and custom class */
::-webkit-input-placeholder,
/* WebKit, Blink, Edge */
:-moz-placeholder,
/* Mozilla Firefox 4 to 18 */
::-moz-placeholder,
/* Mozilla Firefox 19+ */
:-ms-input-placeholder,
/* Internet Explorer 10-11 */
::-ms-input-placeholder,
/* Microsoft Edge */
::placeholder,
/* Modern browsers */
.bs-placeholder {
    /* Custom class */
    color: #A9A9A9 !important;
    /* Applied !important from the ::placeholder rule */
    opacity: 1;
    /* Retained from Firefox rules, usually default anyway */
}