/** @tailwind utilities; **/
@import "tailwindcss" source("../../../../R/*");

@layer base {
  h1 {
    font-size: var(--text-6xl);
  }
  h2 {
    font-size: var(--text-4xl);
  }
  h3 {
    font-size: var(--text-3xl);
  }
  h4 {
    font-size: var(--text-2xl);
  }
  h5 {
    font-size: var(--text-xl);
  }
  h6 {
    font-size: var(--text-lg);
  }
}
